.error {
    color: red;
}

.success {
    color: green;
}

.mt-30 {
    margin-top: 30px;
}

.ft-20 {
    font-size: 20px;
}

.home_link {
    font-size: 25px;
    color: black;
}

.signin_link {
    font-size: 25px;
    /* color: black; */
}
.purple {
    color: purple;
}